<p class="h5 mt-2 text-primary fw-bold">Algemeen</p>
<p>
  GeoLijn is gestart als een hobbyproject door Aaron Weggemans die als doel heeft om
  meer te werken met geografische data en om ruimte te creëren voor persoonlijke ontwikkeling in softwareontwikkeling.
  Vanuit dit initiatief is uiteindelijk het routeproject ontstaan,
  waarmee verschillende inzichten binnen de applicatie visueel weergegeven kunnen worden.
</p>

<p>
  In de applicatie kunnen routes worden gevisualiseerd via de navigatiebalk aan de zijkant.
  Hier kunt u filteren op verschillende niveaus en op basis van diverse brandstoftypen.
</p>

<p>
  Het project is voortdurend in ontwikkeling en wordt regelmatig uitgebreid met nieuwe functionaliteiten en verbeteringen.
</p>
