<ng-container *ngIf="{
  selectedMunicipality: selectedMunicipality$ | async,
  results: fuelStations$ | async
} as context">
  <p class="h5 mt-2 text-primary fw-bold">Vind de goedkoopste tankstation in uw gemeente.</p>
  <p>
    Op de kaarten worden nu alle gemeente getoond. Druk a.u.b. eerst op een gemeente om de informatie van de desbetreffende gemeente te tonen.
  </p>

  <p>
    Daarna kunt u op basis van de geslecteerde gemeente de filters aanpassen. Hierdoor kunt u de goedkoopste tankstations vinden in uw gemeente.
  </p>

  <app-selected-municipality
    *ngIf="context.selectedMunicipality"
    [selectedMunicipality]="context.selectedMunicipality">
  </app-selected-municipality>

  <div class="my-4">
    <app-search-by-municipality
      (formSubmit)="formSubmitted($event)"
      [enableForm]="!!context.selectedMunicipality"
      (refreshPage)="refreshPage()">
    </app-search-by-municipality>
  </div>

  <app-search-results
    (selectedFuelStation)="fuelStationIsSelected($event)"
    *ngIf="context.results"
    [results]="context.results">
  </app-search-results>
</ng-container>
