<div
  *ngIf="{ suggestions: suggestions$ | async, showSuggestions: showSuggestions$ | async } as context"
  class="position-relative"
>
  <label [for]="id">{{ title }}</label>
  <input
    [formControl]="suggestionInput"
    [id]="id"
    [placeholder]="placeholder"
    autocomplete="off"
    class="form-control"
    type="text"
  />
  <ul class="list-group" *ngIf="isLoading$ | async">
    <app-loading-spinner class="list-group-item" width="2.5em" height="2.5em"></app-loading-spinner>
  </ul>
  <ul *ngIf="context.suggestions && context.showSuggestions" class="list-group">
    <button
      (click)="selectSuggestion(suggestion)"
      *ngFor="let suggestion of context.suggestions"
      class="list-group-item list-group-item-action"
    >
      {{ suggestion.weergavenaam }}
    </button>
  </ul>
</div>
