<div class="position-fixed map-overlay menu-position align-middle">
  <form class="btn-group-vertical">
    <a (click)="closeSidebar()" class="btn btn-secondary" routerLink="/dashboard" routerLinkActive="active">
      <i class="fa fa-home fa-sm m-2" aria-hidden="true"></i>
    </a>
    <a (click)="openOrClose('fuelPrices')" class="btn btn-secondary" href="#">
      <i class="fa fa-car fa-sm m-2" aria-hidden="true"></i>
    </a>
  </form>
</div>

<div *ngIf="openedSidebar.fuelPrices" class="position-fixed map-overlay sidebar-position align-middle">
  <app-sidebar-list [list]="SIDE_BAR_FUEL_PRICES" [theme]="theme" (closeSidebar)="closeSidebar()"></app-sidebar-list>
</div>

