<div class="list-group rounded">
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/lpg" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on autogas (LPG)
  </a>
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/cng" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on cng (CNG)
  </a>
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/diesel" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on diesel (Diesel B7)
  </a>
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/premium_diesel" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on premium diesel
  </a>
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/euro98" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on euro 95
  </a>
  <a 
    class="list-group-item list-group-item-action" 
    (click)="closeSidebar.emit()" 
    routerLink="/cheap-fuel-stations/euro95" 
    routerLinkActive="active"
  >
    Find closest fuel stations in your city based on euro 98
  </a>
</div>