<div class="map-overlay p-2">
  <div class="d-flex flex-direction-row gap-2">
    <a href="#" (click)="switchTheme('LIGHT')">
      <img
        ngSrc="assets/img/layer-switcher/carto-map-default.png"
        class="rounded clickable-img border"
        alt="Switch to light mode"
        height="55" width="110"/>
    </a>
    <a href="#" (click)="switchTheme('DARK')">
      <img
        ngSrc="assets/img/layer-switcher/carto-map-dark.png"
        class="rounded clickable-img border"
        alt="Switch to dark mode"
        height="55" width="110" />
    </a>
  </div>
</div>
