<p class="mt-2 fw-bold text-center">CHEAPEST FUEL STATIONS</p>
<p class="text-center">Below you can see the cheapest fuel prices <i class="font-italic">(Supported)</i></p>

<ng-container *ngIf="foundFuelStation$ | async as fuelstation">
  <div class="card bg-transparent">
    <img class="card-img-top" [src]="findGoogleImage(fuelstation.lat, fuelstation.lon)" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ fuelstation.brand_name }} <i *ngIf="fuelstation.name" class="font-italic">({{ fuelstation.name }})</i></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-transparent">Streetname: {{ fuelstation.street }}</li>
      <li class="list-group-item bg-transparent">Postalcode: {{ fuelstation.postal_code }}</li>
      <li class="list-group-item bg-transparent">City: {{ fuelstation.city }}</li>
    </ul>
  </div>

  {{ convertFuelStationPrices(fuelstation.prices )}}
</ng-container>