<ng-container *ngIf="isLoading$ | async; else content">
  <ngx-loading
    [show]="true"
    [config]="{ 
      backdropBorderRadius: '3px', 
      backdropBackgroundColour: 'rgba(0,0,0,0)',
      primaryColour: 'rgb(255, 99, 132)',
      secondaryColour: 'rgb(255, 159, 64)',
      tertiaryColour: 'rgb(255, 205, 86)',
    }"
    [template]="loadingContent"
  ></ngx-loading>
</ng-container>

<ng-template #content>
  <p class="mt-2 fw-bold text-center">CHEAPEST FUEL STATIONS</p>
  <p class="text-center">Below you can see the cheapest fuel prices <i class="font-italic">(Supported)</i></p>
  <p class="text-center">Please select a fuelstation on the map to get information.</p>

  <app-details [gasStationId]="(foundGasStationId$ | async)!"></app-details>
</ng-template>

<ng-template #loadingContent>
  <div class="text-center">
    <h6 class="mt-2 fw-bold text-center">PLEASE WAIT ONE MOMENT...</h6>
    <p>We are trying to fetch the information from the database</p>
    <p>This should take about a few seconds...</p>
  </div>
</ng-template>