<div class="position-absolute map-overlay menu-position align-middle">
  <form class="btn-group-vertical">
    <a class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">
      <i class="fa fa-home fa-sm m-2" aria-hidden="true"></i>
    </a>
    <a class="btn btn-primary" routerLink="/cheap-fuel-stations" routerLinkActive="active">
      <i class="fa fa-car fa-sm m-2" aria-hidden="true"></i>
    </a>
    <a class="btn btn-primary" routerLink="/cheap-beer" routerLinkActive="active">
      <i class="fa fa fa-beer fa-sm m-2" aria-hidden="true"></i>
    </a>
  </form>
</div>