<ng-container *ngIf="{
  isLoading: (isLoading$ | async) || false,
  ORSProperties: ORSProperties$ | async
} as context">
  <p class="h5 mt-2 text-primary fw-bold">Vind de goedkoopste tankstations op uw route.</p>
  <p>
    Hieronder kunt u uw locatie invoeren, of wanneer u op de knop rechtsboven op de kaart drukt,
    kunt u op een locatie klikken om een startpunt te selecteren.
  </p>
  <p>
    Selecteer eerst twee locaties om een route te berekenen.
    Daarna is het mogelijk om op basis van de filters de goedkoopste tankstation te vinden.
  </p>

  <div class="my-4">
    <app-calculate-form (validFormSubmit)="onFormSubmit($event)" (twoLocationsSet)="setRouteAndCenterMiddle($event)"></app-calculate-form>

    <ngx-loading class="mb-3" [config]="DEFAULT_LOADING_SETTINGS" [show]="context.isLoading"></ngx-loading>

    <ul *ngIf="context.ORSProperties" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total distance:
        <span class="badge badge-primary badge-pill text-secondary">{{ context.ORSProperties.summary.distance }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total duration:
        <span class="badge badge-primary badge-pill text-secondary">{{ context.ORSProperties.summary.duration }}</span>
      </li>
    </ul>

    <app-search-results [results]="(fuelStations$ | async) ?? []" (selectedFuelStation)="fuelStationIsSelected($event)"></app-search-results>
  </div>
</ng-container>
