<p class="mt-2 fw-bold text-center">FIND THE CHEAPEST FUEL STATION ON YOUR ROUTE</p>
<p class="text-center">
  Below you can enter your location, or when pressing the button on the right top of the map, you
  can click on a location to select a starting point.
</p>
<p class="text-center">Please select a fuelstation on the map to get information.</p>

<div class="my-4">
  <app-calculate-form (validFormSubmit)="onFormSubmit($event)" (twoLocationsSet)="setRouteAndCenterMiddle($event)"></app-calculate-form>

  <ngx-loading class="mb-3" [config]="DEFAULT_LOADING_SETTINGS" [show]="(isLoading$ | async) || false"></ngx-loading>

  <ul *ngIf="ORSProperties$ | async as ORSProperties" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Total distance:
      <span class="badge badge-primary badge-pill text-secondary">{{ ORSProperties.summary.distance }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Total duration:
      <span class="badge badge-primary badge-pill text-secondary">{{ ORSProperties.summary.duration }}</span>
    </li>
  </ul>

  <app-search-results [results]="(fuelStations$ | async) ?? []" (selectedFuelStation)="fuelStationIsSelected($event)"></app-search-results>
</div>
