/* You can add global styles to this file, and also import other style files */
.white-layout {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.black-layout {
  background-color: rgba(38, 38, 38, 0.6) !important;
  color: white !important;
}

.white-bg-color {
  background-color: #D4DADC !important;
}

.black-bg-color {
  background-color: #262626 !important;
}

