<form (ngSubmit)="onFormSubmit()" [formGroup]="form">
  <div class="form-group mb-3">
    <app-pdok-suggestion-input formControlName='start' title="Voer een startpunt in."></app-pdok-suggestion-input>
  </div>
  <div class="form-group mb-3">
    <app-pdok-suggestion-input formControlName='end' title="Voer een eindpunt in."></app-pdok-suggestion-input>
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="Radius">Radius per meter {{ radius.value === 0 ? '' : '(' + radius.value + ' meters)' }}</label>
    <input class="form-range" formControlName="radius" id="Radius" max="2000" min="0" type="range">
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="amount">Aantal te tonen tankstations ({{ amount.value }})</label>
    <input class="form-range" formControlName="amount" id="amount" max="25" min="1" type="range">
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="Fueltype">Filter op het brandstof soort.</label>
    <select aria-label="Select fueltype" class="form-select" formControlName="fuelType" id="Fueltype">
      <option *ngFor="let type of fuelTypes" [value]="type">{{ type }}</option>
    </select>
  </div>
  <div class="form-group mb-3">
    <button [attr.disabled]="(radius.value === 0 || form.invalid || (submitted$ | async) || false) || undefined"
            class="btn btn-primary">Haal tankstations op</button>
  </div>
</form>
